flask>=2.0.0
gunicorn>=20.1.0
epitran
numpy
pandas
ortools
dtwalign
jamo
pydub
librosa
soxr
Levenshtein
matplotlib
jellyfish
SentencePiece
accelerate
rapidfuzz
webrtcvad
celery
flask_socketio
redis
eventlet
waitress