<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Entraîneur de prononciation IA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="flex-md-row">
            <div class="main-content">
                <h1 class="mb-4">Entraîneur de prononciation IA</h1>
                <p id="categoryProgress" class="mt-3"></p>
                <div class="mb-3">
                    <label for="text" class="form-label">Écrivez ou générez un texte ci-dessous :</label>
                    <textarea class="form-control" id="text" name="text"></textarea>

                    <div class="pronunciation-feedback mt-4">
                        <label for="translation" class="form-label">Pronuncia:</label>
                        <h3 id="pronunciation"></h3>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Sélectionnez la catégorie :</label>
                    <select class="form-select" id="category" name="category">
                        <!----prononciation----->
                        <optgroup label="Prononciation">
                            <option value="Combinaisons_spécifiques_et_leurs_bruits_nasaux">Combinaisons spécifiques et
                                leurs bruits nasaux</option>
                            <option value="Combinaisons_de_voyelles_qui_créent_des_sons_nasaux">Combinaisons de voyelles
                                qui créent des sons nasaux</option>
                            <option value="Cas_courants_et_pièges">Cas courants et pièges</option>
                            <option value="Accents_et_comment_ils_affectent_la_prononciation">Accents et comment ils
                                affectent la prononciation</option>
                            <option value="Diphtongues_et_sons_complexes">Diphtongues et sons complexes</option>
                            <option value="Le_son_de_R">Le son de R</option>
                            <option value="Consonnes_doublées">Consonnes doublées</option>
                            <option value="Liaison">Liaison</option>
                            <option value="Voyelles_et_diphtongues">Voyelles et diphtongues</option>
                            <option value="Le_E_muet">Le E muet</option>
                            <option value="Sons_nasaux">Sons nasaux</option>
                            <option value="Les_lettres_muettes">Les lettres muettes</option>
                        </optgroup>


                        <!-- Cuisine et Alimentation -->
                        <optgroup label="Cuisine et Alimentation">
                            <option value="Parler_d_un_plat">Parler d'un plat</option>
                            <option value="Parler_d_une_mode_culinaire">Parler d'une mode culinaire</option>
                            <option value="Décrire_un_plat">Décrire un plat</option>
                            <option value="Parler_des_modes_de_cuisson_et_préparation">Parler des modes de cuisson et
                                préparation</option>
                            <option value="Parler_de_ses_habitudes_alimentaires">Parler de ses habitudes alimentaires
                            </option>
                            <option value="Qualifer_un_plat">Qualifier un plat</option>
                            <option value="Donner_une_opinion">Donner une opinion</option>
                            <option value="Au_restaurant_Commander_de_la_nourriture">Au restaurant - Commander de la
                                nourriture</option>
                        </optgroup>

                        <!-- Santé et Bien-être -->
                        <optgroup label="Santé et Bien-être">
                            <option value="Donner_un_avis_sur_les_questions_de_sante">Donner un avis sur les questions
                                de santé</option>
                            <option value="Expliquer_une_maladie_et_symptomes_chez_le_medecin">Expliquer une maladie et
                                ses symptômes chez le médecin</option>
                            <option value="Sur_la_consultation_medicale">Sur la consultation médicale</option>
                            <option value="Sur_les_maladies_et_les_maux">Sur les maladies et les maux</option>
                            <option value="Poser_une_question_sur_la_sante_chez_le_medecin">Poser une question sur la
                                santé chez le médecin</option>
                            <option value="Donner_un_conseil">Donner un conseil</option>
                            <option value="Parler_de_un_malade">Parler de un malade</option>
                        </optgroup>

                        <!-- Logement et Vie à la Maison -->
                        <optgroup label="Logement et Vie à la Maison">
                            <option value="À_la_recherche_d_un_appartement_à_louer">À la recherche d'un appartement à
                                louer</option>
                            <option value="Qualifier_un_logement">Qualifier un logement</option>
                            <option value="Parler_des_pieces_de_la_maison">Parler des pièces de la maison</option>
                            <option value="Indiquer_un_loyer">Indiquer un loyer</option>
                            <option value="Parler_de_l_amenagement_interieur">Parler de l'aménagement intérieur</option>
                            <option value="Parler_de_l_espace">Parler de l'espace</option>
                            <option value="Decrire_des_meubles">Décrire des meubles</option>
                            <option value="Indiquer_la_couleur">Indiquer la couleur</option>
                        </optgroup>

                        <!-- Éducation et Formation -->
                        <optgroup label="Éducation et Formation">
                            <option value="Présenter_ses_études_et_sa_formation">Présenter ses études et sa formation
                            </option>
                            <option value="Exprimer_un_souhait">Exprimer un souhait</option>
                            <option value="Parler_d_un_projet_futur">Parler d'un projet futur</option>
                            <option value="Parler_de_ses_experiences_d_eleve">Parler de ses expériences d'élève</option>
                            <option value="Parler_des_nouvelles_façons_de_se_former_et_d_apprendre">Parler des nouvelles
                                façons de se former et d'apprendre</option>
                            <option value="Parler_de_son_parcours_scolaire_et_professionnel">Parler de son parcours
                                scolaire et professionnel</option>
                        </optgroup>

                        <!-- Vie Professionnelle -->
                        <optgroup label="Vie Professionnelle">
                            <option value="Partager_ses_émotions">Partager ses émotions</option>
                            <option value="Échanger_sur_des_initiatives_originales_au_travail">Échanger sur des
                                initiatives originales au travail</option>
                            <option value="Parler_de_sa_relation_au_travail">Parler de sa relation au travail</option>
                            <option value="Parler_des_nouveaux_métiers_et_entreprises">Parler des nouveaux métiers et
                                entreprises</option>
                            <option value="Préparer_un_entretien_d_embauche">Préparer un entretien d'embauche</option>
                            <option value="Rapporter_des_propos_et_des_questions">Rapporter des propos et des questions
                            </option>
                        </optgroup>

                        <!-- Voyages et Loisirs -->
                        <optgroup label="Voyages et Loisirs">
                            <option value="Partager_ses_raisons_de_voyager">Partager ses raisons de voyager</option>
                            <option value="Parler_de_ses_vacances">Parler de ses vacances</option>
                            <option value="Présenter_des_données_chiffrées">Présenter des données chiffrées</option>
                            <option value="Parler_de_la_préparation_d_un_voyage">Parler de la préparation d'un voyage
                            </option>
                            <option value="Décrire_un_paysage">Décrire un paysage</option>
                            <option value="Raconter_un_voyage">Raconter un voyage</option>
                            <option value="Parler_des_loisirs">Parler des loisirs</option>
                        </optgroup>

                        <!-- Vie Quotidienne et Habitudes -->
                        <optgroup label="Vie Quotidienne et Habitudes">
                            <option value="Parler_de_ses_habitudes_de_consommation">Décrire ses habitudes de
                                consommation</option>
                            <option value="Parler_de_la_consommation_responsable">Parler de la consommation responsable
                            </option>
                            <option value="Décrire_un_objet">Décrire un objet</option>
                            <option value="Parler_des_rythmes_de_vie">Parler des rythmes de vie</option>
                            <option value="Parler_de_ses_habitudes">Parler de ses habitudes</option>
                            <option value="Donner_l_heure">Donner l'heure</option>
                            <option value="Indiquer_la_frequence">Indiquer la fréquence</option>
                            <option value="Donner_la_date">Donner la date</option>
                            <option value="Situer_dans_le_temps_et_exprimer_la_duree">Situer dans le temps et exprimer
                                la durée</option>
                        </optgroup>

                        <!-- Vie Sociale et Relations -->
                        <optgroup label="Vie Sociale et Relations">
                            <option value="Parler_d_Internet_et_des_reseaux_sociaux">Parler d'Internet et des réseaux
                                sociaux</option>
                            <option value="Se_decrire_et_decrire_ses_amis">Se décrire et décrire ses amis</option>
                            <option value="Inviter_quelqu_un_ou_faire_une_proposition">Inviter quelqu'un ou faire une
                                proposition</option>
                            <option value="Accepter_ou_refuser_une_invitation">Accepter ou refuser une invitation
                            </option>
                        </optgroup>
                        <!-- Vie Sportive -->
                        <optgroup label="Pratique sportive">
                            <option value="parler_de_sa_pratique_sportive">Parler de sa pratique sportive</option>
                            <option value="donner_un_avis_sur_les_JO">Donner un avis sur les JO</option>
                            <option value="donner_un_conseil_sur_le_sport">donner un conseil sur le sport</option>
                            <option value="recommander_un_sport">recommander un sport</option>
                        </optgroup>

                    </select>
                </div>
                <div class="d-grid gap-2">
                    <p id="statusMessage"
                        style="display: none; font-weight: bold; color: red;text-align: center; font-weight: 12px;"></p>
                    <button class="btn btn-success" id="generateButton" onclick="generateSentence()">Générer une
                        phrase</button>
                    <button class="btn btn-danger" id="recordButton" onclick="toggleRecording()">
                        <span style="display: flex;align-items: center; justify-content: center;">
                            Parler
                            <i class="material-icons" id="recordIcon">mic</i>
                        </span>

                    </button>
                    <button class="btn btn-secondary" id="speakButton" onclick="speakText()">Écouter le texte</button>


                </div>
                <!-- Elemento para exibir as mensagens de status -->

                <div class="uploading-message mt-3" id="uploadingMessage">
                    <span id="uploadingText">Envoi audio... Attendre.</span>
                    <progress id="uploadProgress" value="0" max="100" style="width: 100%;"></progress>
                </div>

                <div class="result mt-4">
                    <h3>Feedback:</h3>
                    <p>Taux de réussite en prononciation: <span id="ratio"></span>%</p>
                    <div class="diff" id="diff"></div>
                    <br />
                    <p>Taux d’achèvement: <span id="completeness"></span>%</p>
                </div>
                <div id="audioContainer" class="mt-4"></div>

            </div>
            <div class="feedback-box" id="feedbackBox">
                <p id="feedbackContent">Cliquez sur un mot pour voir sa prononciation.</p>
            </div>
        </div>
    </div>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const categorySelect = document.getElementById('category');
            const options = categorySelect.options;
            const randomIndex = Math.floor(Math.random() * options.length);

            // Define uma opção aleatória
            categorySelect.selectedIndex = randomIndex;

            // Atualiza o progresso da categoria com a seleção aleatória
            updateCategoryProgress();
        });

        document.getElementById('category').addEventListener('change', updateCategoryProgress);

        // Funções auxiliares para desabilitar/habilitar botões e mostrar/ocultar mensagens
        function disableButtons() {
            document.getElementById('speakButton').disabled = true;
            document.getElementById('generateButton').disabled = true;

            document.getElementById('recordButton').disabled = true;
        }

        function enableButtons() {
            document.getElementById('speakButton').disabled = false;
            document.getElementById('generateButton').disabled = false;

            document.getElementById('recordButton').disabled = false;
        }

        function showMessage(message) {
            let statusMessage = document.getElementById('statusMessage');
            statusMessage.innerText = message;
            statusMessage.style.display = 'block';
        }

        function hideMessage() {
            let statusMessage = document.getElementById('statusMessage');
            statusMessage.style.display = 'none';
        }
        document.getElementById('text').addEventListener('input', function () {
            fetchPronunciation(this.value);
        });

        function fetchPronunciation(text) {
            fetch('/pronounce', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'text=' + encodeURIComponent(text)
            })
                .then(response => response.json())
                .then(data => {
                    const pronunciationHtml = data.pronunciations.split(' || ').map(word => `<span class="word">${word}</span>`).join('<span class="separator">||</span>');
                    document.getElementById('pronunciation').innerHTML = pronunciationHtml;
                });
        }

        function uploadAudio() {
            let audioInput = document.getElementById('audio');
            let textInput = document.getElementById('text');
            let formData = new FormData();
            formData.append('audio', audioInput.files[0]);
            formData.append('text', textInput.value);

            fetch('/upload', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('ratio').innerText = data.ratio;
                    document.getElementById('completeness').innerText = data.completeness_score;
                    document.getElementById('diff').innerHTML = data.diff_html;
                    window.pronunciations = data.pronunciations;
                });
        }

        function showPronunciation(word) {
            let pronunciation = window.pronunciations[word];
            if (pronunciation) {
                document.getElementById('feedbackContent').innerHTML = `
                    <strong>Mot::</strong> ${word}<br>
                    <strong>Prononciation correct:</strong> ${pronunciation.correct}<br>
                    <strong>Votre Prononciation:</strong> ${pronunciation.user || 'N/A'}
                    <button class="btn btn-sm btn-info btn-speak" onclick="speakWord('${word}')">Écuter la prononciation</button>
                `;
            }
        }

        function translateText() {
            let text = document.getElementById('text').value;
            disableButtons();
            showMessage('Traduction en cours...');

            fetch('/translate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'text=' + encodeURIComponent(text)
            })
                .then(response => response.json())
                .then(data => {
                    document.getElementById('translation').innerText = data.translation;
                })
                .catch(error => {
                    console.error('Erreur:', error);
                    alert('Une erreur est survenue lors de la traduction.');
                })
                .finally(() => {
                    enableButtons();
                    hideMessage();
                });
        }



        function speakText() {
            let text = document.getElementById('text').value;
            disableButtons();
            showMessage('Lecture du texte en cours...');

            fetch('/speak', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'text=' + encodeURIComponent(text)
            })
                .then(response => response.blob())
                .then(blob => {
                    let url = URL.createObjectURL(blob);
                    let audio = new Audio(url);
                    audio.play();

                    // Reabilitar os botões quando o áudio terminar de tocar
                    audio.onended = function () {
                        enableButtons();
                        hideMessage();
                    };
                })
                .catch(error => {
                    console.error('Erreur:', error);
                    alert('Une erreur est survenue lors de la lecture du texte.');
                    enableButtons();
                    hideMessage();
                });
        }



        function speakWord(word) {
            fetch('/speak', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'text=' + encodeURIComponent(word)
            })
                .then(response => response.blob())
                .then(blob => {
                    let url = URL.createObjectURL(blob);
                    let audio = new Audio(url);
                    audio.play();
                });
        }

        let mediaRecorder;
        let recordedBlobs;
        let isRecording = false;

        function toggleRecording() {
            if (isRecording) {
                stopRecording();
            } else {
                startRecording();
            }
        }

        function startRecording() {
            recordedBlobs = [];
            let options = { mimeType: 'audio/webm' };
            if (!MediaRecorder.isTypeSupported(options.mimeType)) {
                options = { mimeType: 'audio/webm;codecs=opus' };
                if (!MediaRecorder.isTypeSupported(options.mimeType)) {
                    options = { mimeType: 'audio/ogg;codecs=opus' };
                    if (!MediaRecorder.isTypeSupported(options.mimeType)) {
                        options = { mimeType: '' };
                    }
                }
            }

            navigator.mediaDevices.getUserMedia({ audio: true }).then(stream => {
                mediaRecorder = new MediaRecorder(stream, options);

                mediaRecorder.onstop = (event) => {
                    const blob = new Blob(recordedBlobs, { type: 'audio/webm' });
                    const url = window.URL.createObjectURL(blob);
                    const audioContainer = document.getElementById('audioContainer');
                    audioContainer.innerHTML = '';
                    const audio = document.createElement('audio');
                    audio.controls = true;
                    audio.src = url;
                    audioContainer.appendChild(audio);
                    uploadRecording(blob);
                };

                mediaRecorder.ondataavailable = (event) => {
                    if (event.data && event.data.size > 0) {
                        recordedBlobs.push(event.data);
                    }
                };

                mediaRecorder.start();
                document.getElementById('recordButton').classList.add('recording');
                document.getElementById('recordIcon').innerText = 'pause';
                isRecording = true;
            });
        }

        function stopRecording() {
            mediaRecorder.stop();
            document.getElementById('recordButton').classList.remove('recording');
            document.getElementById('recordIcon').innerText = 'mic';
            isRecording = false;
        }

        function uploadRecording(blob) {
            document.getElementById('uploadingMessage').style.display = 'block';
            document.getElementById('recordButton').disabled = true;

            convertToWav(blob).then(wavBlob => {
                let textInput = document.getElementById('text');
                let formData = new FormData();
                formData.append('audio', wavBlob);
                formData.append('text', textInput.value);
                formData.append('category', textInput.dataset.category || 'random'); // Inclui a categoria
                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/upload', true);

                xhr.upload.addEventListener('progress', function (e) {
                    if (e.lengthComputable) {
                        let percentComplete = (e.loaded / e.total) * 100;
                        document.getElementById('uploadProgress').value = percentComplete;
                        document.getElementById('uploadingText').innerText = `Envoi de l’audio... ${Math.round(percentComplete)}% terminé.`;

                    }
                });

                xhr.onload = function () {
                    if (xhr.status === 200) {
                        let data = JSON.parse(xhr.responseText);
                        document.getElementById('ratio').innerText = data.ratio;
                        document.getElementById('completeness').innerText = data.completeness_score;
                        document.getElementById('diff').innerHTML = data.diff_html;
                        window.pronunciations = data.pronunciations;
                        document.getElementById('uploadingMessage').style.display = 'none';
                        document.getElementById('recordButton').disabled = false;
                        updateCategoryProgress(); // Atualiza o progresso
                    } else {
                        handleUploadError(xhr);
                    }
                };

                xhr.onerror = function () {
                    handleUploadError(xhr);
                };

                xhr.send(formData);
            }).catch(error => {
                document.getElementById('uploadingMessage').style.display = 'none';
                document.getElementById('recordButton').disabled = false;
                alert("Erro ao enviar o áudio. Por favor, tente novamente.");
            });
        }

        function handleUploadError(xhr) {
            console.error("Erro no envio do áudio:", xhr);
            document.getElementById('uploadingText').innerText = 'Erro no envio do áudio. Tente novamente.';
            document.getElementById('uploadingMessage').style.display = 'none';
            document.getElementById('recordButton').disabled = false;
        }

        async function convertToWav(blob) {
            try {
                const audioContext = new (window.AudioContext || window.webkitAudioContext)();
                const arrayBuffer = await blob.arrayBuffer();
                const audioBuffer = await audioContext.decodeAudioData(arrayBuffer);

                const wavBuffer = audioBufferToWav(audioBuffer);
                return new Blob([wavBuffer], { type: 'audio/wav' });
            } catch (error) {
                console.error("Erro na conversão do áudio para WAV:", error);
                alert("Houve um problema ao processar o áudio. Por favor, tente novamente.");
                throw error;
            }
        }

        function audioBufferToWav(buffer) {
            const numOfChan = buffer.numberOfChannels,
                length = buffer.length * numOfChan * 2 + 44,
                bufferArr = new ArrayBuffer(length),
                view = new DataView(bufferArr),
                channels = [],
                sampleRate = buffer.sampleRate;
            let offset = 0,
                pos = 0;

            function setUint16(data) {
                view.setUint16(pos, data, true);
                pos += 2;
            }

            function setUint32(data) {
                view.setUint32(pos, data, true);
                pos += 4;
            }

            setUint32(0x46464952);
            setUint32(length - 8);
            setUint32(0x45564157);

            setUint32(0x20746d66);
            setUint32(16);
            setUint16(1);
            setUint16(numOfChan);
            setUint32(sampleRate);
            setUint32(sampleRate * 2 * numOfChan);
            setUint16(numOfChan * 2);
            setUint16(16);

            setUint32(0x61746164);
            setUint32(length - pos - 4);

            for (let i = 0; i < buffer.numberOfChannels; i++)
                channels.push(buffer.getChannelData(i));

            while (pos < length) {
                for (let i = 0; i < numOfChan; i++) {
                    const sample = Math.max(-1, Math.min(1, channels[i][offset]));
                    view.setInt16(pos, sample < 0 ? sample * 0x8000 : sample * 0x7FFF, true);
                    pos += 2;
                }
                offset++;
            }

            return bufferArr;
        }

        // Função para atualizar o progresso da categoria
        function updateCategoryProgress() {
            let category = document.getElementById('category').value;
            fetch('/get_progress')
                .then(response => response.json())
                .then(progressData => {
                    if (category === 'random') {
                        document.getElementById('categoryProgress').innerText = '';
                    } else {
                        let progress = progressData[category];
                        if (progress) {
                            document.getElementById('categoryProgress').innerText = `vous avez complété ${progress.sentences_done} de ${progress.total_sentences} phrases dans cette catégorie.`;
                        } else {
                            document.getElementById('categoryProgress').innerText = `vous avez complété 0 de ${progressData[category].total_sentences} phrases dans cette catégorie.`;
                        }
                    }
                });
        }

        // Atualizar o progresso ao mudar a categoria
        document.getElementById('category').addEventListener('change', function () {
            updateCategoryProgress();
        });

        // Chamar a função ao carregar a página
        window.onload = function () {
            updateCategoryProgress();
        };


        function generateSentence() {
            let category = document.getElementById('category').value;
            disableButtons();
            showMessage('Génération de la phrase en cours...');

            fetch('/get_sentence', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'category=' + encodeURIComponent(category)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Erro na resposta da API');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else if (data.message) {
                        alert(`${data.message}\nTaux moyen de réussite de la prononciation : ${data.average_ratio}%\nTaux moyen de complétude : ${data.average_completeness}%`);
                    } else {
                        document.getElementById('text').value = data.fr_sentence;
                        document.getElementById('text').dataset.category = data.category;
                        fetchPronunciation(data.fr_sentence);
                        updateCategoryProgress();
                    }
                })
                .catch(error => {
                    console.error('Erreur:', error);
                    alert('Une erreur est survenue lors de la génération de la phrase.');
                })
                .finally(() => {
                    enableButtons();
                    hideMessage();
                });
        }


        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('word')) {
                showPronunciation(event.target.innerText);
            }
        });


    </script>
</body>

</html>
